<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout"
      th:with="module='chatRoom'">
<head>
    <title>聊天室-首页</title>
    <style type="text/css">

    </style>
</head>
<body layout:fragment="content">
<div class="layui-container">
    <!--主页面板-->
    <div class="layui-row" style="margin: 2px;">
        <div class="layui-card layui-col-xs12 layui-col-sm8 layui-col-md8">
            <div class="layui-card-header layui-bg-blue">共享聊天室
            </div>
            <div class="layui-card-body layui-row" style="border: 1px solid #b2b2b2;height: 75%;">
                <!--聊天记录区域-->
                <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="height: 80%;border: 1px solid #b2b2b2;">
                        <div class="content" style="height:98%;overflow: auto ;overflow-x: hidden;">
                            <div style="margin-top: 5px;margin-left: 15px;">
                                <div>
                                    <img th:src="@{/images/chatRoom/user.png}" style="height: 16px;width: 16px;">
                                    <span style="font-size: 12px;color: gray;">用户1</span>
                                    <span style="font-size: 12px;color: gray;margin-left: 15px;">2018-05-28 18:00:00</span>
                                </div>
                                <div>This is message！</div>
                            </div>
                            <div style="margin-top: 5px;margin-left: 15px;">
                                <div>
                                    <img th:src="@{/images/chatRoom/user.png}" style="height: 16px;width: 16px;">
                                    <span style="font-size: 12px;color: gray;">用户2</span>
                                    <span style="font-size: 12px;color: gray;margin-left: 15px;">2018-05-28 18:00:00</span>
                                </div>
                                <div>This is message！</div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="height: 20%;border: 1px solid #b2b2b2;">
                           <div style="height: 20%;">
                               功能区
                           </div>
                           <textarea id="msg" class=""
                                     style="height: 75%;width:90%"></textarea>
                           <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="send()"
                                    style="margin-top: -25px;">发送</button>
                    </div>
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4" style="height: 100%;border: 1px solid #b2b2b2;">
                        公共聊天室，欢迎畅聊<br/>

                        注意事项：<br/>
                         1、不得发送禁止的语言<br/>
                         2、不得进行人身攻击<br/>
                         3、不得恶意攻击网站<br/>
                         4、请文明用语<br/>
                    <div>
                        <span>当前在线人数：</span>
                        <a href="javascript:alert('暂不不支持查看在线信息')" id="count"
                            style="text-underline: #1E9FFF;text-decoration:underline;"></a>
                    </div>
                </div>
            </div>
        </div>



    <script th:inline="javascript">
        /*<![CDATA[*/
        var websocket = null;

        //判断当前浏览器是否支持WebSocket
        if('WebSocket' in window){
            websocket = new WebSocket("ws://localhost:8088/vv/crserver");
        }else if('MozWebSocket' in window){
            websocket = new MozWebSocket("ws://localhost:8088/vv/crserver");
        }else{
            alert('您的浏览器不支持websocket！！！')
        }

        //连接发生错误的回调方法
        websocket.onerror = function(){
        };

        //连接成功建立的回调方法
        websocket.onopen = function(event){
        }

        //接收到消息的回调方法
        websocket.onmessage = function(event){
            let obj = JSON.parse(event.data);
            if(obj.type=="1"){
                $("#count").text(obj.count);
            }else{
                $(".content").append(obj.msg+"<br/>");
                $('.content').scrollTop($('.content')[0].scrollHeight);
            }
        }


        //连接关闭的回调方法
        websocket.onclose = function(){
        }

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){
        }

        //关闭连接
        function closeWebSocket(){
            websocket.close();
        }

        
        $(function () {
            $("#msg").keydown(function(event){
                if(event.keyCode ==13){
                    send();
                    event.preventDefault();
                }
            });
        })


        //发送消息
        function send(){
            let msg = $("#msg").val();
            if(msg){
                websocket.send('{"type":"2","msg":"'+msg+'"}');
                $("#msg").val("").focus();
                return;
            }
            alert("请输入聊天信息");
        }

        /*]]>*/
    </script>
</div>
</body>
</html>