<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">

    </style>
</head>
<body>
<div th:fragment="footer">

    <footer style="text-align: center;position:fixed;bottom: 0;left: 0;right: 0;background-color: #fff">
        <div style="margin-top: 5px;margin-bottom: 5px;">
            <span><img th:src="@{/images/footer/developer.png}" style="height: 20px;width: 20px;"/> :JIANGTENG<img th:src="@{/images/footer/high-grade.png}" style="height: 20px;width: 20px;"/> </span>
            <span style="margin-left: 10px;"><img th:src="@{/images/footer/qq.png}" style="height: 20px;width: 20px;"/> : <a href="javascript:void(0)" onclick="alert('791096114')">791096114</a> </span>
            <span style="margin-left: 10px;"><img th:src="@{/images/footer/web.png}" style="height: 20px;width: 20px;"/> : Vacation-Vexation-jt</span>
            <!--<span style="margin-left: 10px;"><img th:src="@{/images/footer/time.png}" style="height: 20px;width: 20px;"/> : </span><span th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}"></span>-->
            <span style="margin-left: 10px;"><img th:src="@{/images/footer/time.png}" style="height: 20px;width: 20px;"/> : </span><span id="time"></span>
        </div>
    </footer>




    <script th:inline="javascript">
        /*<![CDATA[*/
        Date.prototype.format = function(fmt) {
            var o = {
                "M+" : this.getMonth()+1,                 //月份
                "d+" : this.getDate(),                    //日
                "h+" : this.getHours(),                   //小时
                "m+" : this.getMinutes(),                 //分
                "s+" : this.getSeconds(),                 //秒
                "q+" : Math.floor((this.getMonth()+3)/3), //季度
                "S"  : this.getMilliseconds()             //毫秒
            };
            if(/(y+)/.test(fmt)) {
                fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
            }
            for(var k in o) {
                if(new RegExp("("+ k +")").test(fmt)){
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                }
            }
            return fmt;
        }

        $(function(){
            setInterval(function () {
                $("#time").text(new Date().format("yyyy-MM-dd hh:mm:ss"));
            },1000);
        })

        /*]]>*/
    </script>
</div>


</body>
</html>