<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>休闲假日</title>
</head>
<body>
<div th:include="header::head"></div>
<div class="layui-carousel" id="test1">
    <div carousel-item="">
        <div><img th:src="@{/images/carousel/1.jpg}"/></div>
        <div><img th:src="@{/images/carousel/2.jpg}"/></div>
        <div><img th:src="@{/images/carousel/3.jpg}"/></div>
        <div><img th:src="@{/images/carousel/4.jpg}"/></div>
        <div><img th:src="@{/images/carousel/5.jpg}"/></div>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });

    /*]]>*/
</script>

</body>
</html>